.listContainer {
        flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.cardImage{
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: grey;
    width: 54%;
    height: 140px;
}
.bookName{
    padding-block-start: 4%;
    font-weight: bold;
    padding-left: 5%;
    font-size: 80%;
}
.authorName{
    padding-block-start: 1%;
    padding-left: 5%;
    font-size: 74%;
    color: dimgrey;
}
.bookPrice{
    padding-left: 5%;
    font-size: 90%;
    font-weight: bold;
}
.bookQuantity{
    font-size: small;
    color: darkslategrey;
    padding-left: 5%;
}
.imageBackGround{
    background-color: #F5F5F5;}
